
<h1>Bienvenue {{ app.user.firstname }} {{ app.user.lastname }}</h1>
<ul>
    {% if app.user.pays is null %}
        <li> No country in the database</li>
    {% else %}
        <li>{{ app.user.pays.name }}</li>
    {% endif %}
    <li>{{ app.user.firstname }}</li>
    <li>{{ app.user.lastname }}</li>
    <li>{{ app.user.birthdate|date('d/m/Y') }}</li>
    <li>
        {% if app.user.roles|length == 0 %}
            No role
        {% else %}
            {% for role in app.user.roles %}
                {% if role != 'ROLE_NOROLE' %}
                    {{ role }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
</ul>



